.LoadingView {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: #181818;
}

.loadingImage {
  height: 80px;
  width: 80px;
}
